<!doctype html>
<html ng-app="githubSearch">
<head>
    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="vendor/highlightjs/styles/github.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="css/style.css"/>

    <script src="vendor/angular/angular.min.js"></script>
    <script src="vendor/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="vendor/highlightjs/highlight.pack.js"></script>
    <script src="vendor/angular-highlightjs/angular-highlightjs.min.js"></script>

    <script src="js/app.js"></script>
</head>
<body ng-controller="SearchController">

    <div class="container">

        <div class="page-header">
            <h1>Piwik code search</h1>
        </div>

        <form id="searchForm" ng-submit="search()">
            <p>
                Search for code in <a href="https://github.com/piwik/piwik">Piwik</a> and in all plugins registered in the <a
                    href="http://plugins.piwik.org/">Marketplace</a>.
            </p>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for..." ng-model="expression">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">
                        <i class="fa fa-search"></i>
                        Search
                    </button>
                </span>
            </div>
        </form>

        <div class="alert alert-danger" ng-show="error">
            <strong>Error:</strong> there was an error while fetching the result list.
        </div>

        <div class="alert alert-info" ng-show="loading">
            <i class="fa fa-spinner fa-spin"></i>
            Searching on GitHub…
        </div>

        <div class="result" ng-repeat="result in results.items">

            <div class="header">
                <img class="img-thumbnail img-circle" ng-src="{{ result.repository.owner.avatar_url }}">
                <p class="pull-right"><code>{{ result.path }}</code></p>
                <p class="title">
                    <a href="{{ result.repository.html_url }}">{{ result.repository.full_name }}</a>
                </p>

                <strong><a href="{{ result.html_url }}">{{ result.name }}</a></strong>
            </div>

            <div class="code">
                <div class="divider">…</div>
                <div ng-repeat="match in result.text_matches">
                    <div hljs source="match.fragment"></div>
                    <div class="divider">…</div>
                </div>
            </div>

        </div>

        <div class="alert alert-success" ng-show="results.total_count > results.items.length">
            <strong>{{ results.total_count - results.items.length }}</strong> more results…
        </div>

    </div>

</body>
</html>