<!doctype html>
<html ng-app="githubSearch">
<head>
    <title>Piwik plugins code search</title>

    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="highlight.js/github.css"/>
    <link rel="stylesheet" href="css/style.css"/>

    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="highlight.js/highlight.pack.js"></script>
    <script src="node_modules/angular-highlightjs/angular-highlightjs.min.js"></script>

    <script src="js/app.js"></script>
</head>
<body ng-controller="SearchController">

    <div class="container">

        <h1>Piwik code search</h1>
        <hr>

        <form id="searchForm" ng-submit="search()">
            <p>
                Search for code in <a href="https://github.com/piwik/piwik">Piwik</a> and in all plugins registered in the <a
                    href="http://plugins.piwik.org/">Marketplace</a>.
            </p>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search for..." ng-model="expression" autofocus>
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">
                        <svg class="icon" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1216 832q0-185-131.5-316.5t-316.5-131.5-316.5 131.5-131.5 316.5 131.5 316.5 316.5 131.5 316.5-131.5 131.5-316.5zm512 832q0 52-38 90t-90 38q-54 0-90-38l-343-342q-179 124-399 124-143 0-273.5-55.5t-225-150-150-225-55.5-273.5 55.5-273.5 150-225 225-150 273.5-55.5 273.5 55.5 225 150 150 225 55.5 273.5q0 220-124 399l343 343q37 37 37 90z"></path>
                        </svg>
                        Search
                    </button>
                </div>
            </div>
            <div>
                <label>
                    <input type="checkbox" ng-model="includePiwik">
                    Include piwik/piwik
                </label>
            </div>
        </form>

        <div class="alert alert-danger" ng-show="error">
            <strong>Error:</strong> there was an error while fetching the result list.
        </div>

        <div class="alert alert-info" ng-show="loading">
            <svg class="icon rotate" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                <path d="M526 1394q0 53-37.5 90.5t-90.5 37.5q-52 0-90-38t-38-90q0-53 37.5-90.5t90.5-37.5 90.5 37.5 37.5 90.5zm498 206q0 53-37.5 90.5t-90.5 37.5-90.5-37.5-37.5-90.5 37.5-90.5 90.5-37.5 90.5 37.5 37.5 90.5zm-704-704q0 53-37.5 90.5t-90.5 37.5-90.5-37.5-37.5-90.5 37.5-90.5 90.5-37.5 90.5 37.5 37.5 90.5zm1202 498q0 52-38 90t-90 38q-53 0-90.5-37.5t-37.5-90.5 37.5-90.5 90.5-37.5 90.5 37.5 37.5 90.5zm-964-996q0 66-47 113t-113 47-113-47-47-113 47-113 113-47 113 47 47 113zm1170 498q0 53-37.5 90.5t-90.5 37.5-90.5-37.5-37.5-90.5 37.5-90.5 90.5-37.5 90.5 37.5 37.5 90.5zm-640-704q0 80-56 136t-136 56-136-56-56-136 56-136 136-56 136 56 56 136zm530 206q0 93-66 158.5t-158 65.5q-93 0-158.5-65.5t-65.5-158.5q0-92 65.5-158t158.5-66q92 0 158 66t66 158z"></path>
            </svg>
            Searching on GitHub…
        </div>

        <div class="text-muted text-center" ng-show="!loading && !!results.items">
            <p>
                {{ results.total_count }} result(s)
            </p>

            <hr/>
        </div>

        <div class="result" ng-repeat="result in results.items">

            <div class="header">
                <a href="{{ result.repository.html_url }}"><img class="img-thumbnail rounded-circle" ng-src="{{ result.repository.owner.avatar_url }}"></a>
                <code class="float-right">{{ result.path }}</code>

                <p class="title">
                    <a href="{{ result.repository.html_url }}">{{ result.repository.full_name }}</a>
                </p>

                <strong><a href="{{ result.html_url }}">{{ result.name }}</a></strong>
            </div>

            <div class="code">
                <div class="divider">…</div>
                <div ng-repeat="match in result.text_matches">
                    <div hljs source="match.fragment"></div>
                    <div class="divider">…</div>
                </div>
            </div>

        </div>

        <div class="alert alert-success" ng-show="results.total_count > results.items.length">
            <strong>{{ results.total_count - results.items.length }}</strong> more results…
        </div>

    </div>

</body>
</html>